.wrapper {
    --text-color: #454a4c;

    max-width: 1360px;
    margin: 0 auto;
   
}

.inner {
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-forgot-password {
    width: 600px;
    margin-bottom: 20px;
    .heading {
        text-align: center;
        font-size: 3rem;
        font-weight: 500;
        color: var(--text-color);
        margin-bottom: 12px;
    }
}
.form-group {
    color: var(--text-color);
    padding: 8px 0;
    font-size: 1.6rem;

    .form-label {
        display: flex;
        align-items: center;
    }
    .form-icon{
        font-size: 1.3rem;
        margin-right: 6px;
    }    
    .form-control {
        font-size: 1.4rem;
        width: 100%;
        padding: 14px 24px;
        border-radius: 4px;
        border: 1px solid transparent;

        &:focus {
            outline: none;
            border: 1px solid var(--text-color);
        }
    }
    .form-message {
        color:#bd2130;
        font-size: 1.4rem;
    }
}

.form-submit{
    font-size: 1.4rem;
    padding: 10px 20px;
    border-radius: 4px;
    background-color: #007bff;
    color: #fff;

    &:hover {
        background-color: #0056b3;
        color: #fff;
        text-decoration: none;
    }
}