.wrapper{
  padding-left: var(--default-layout-padding-left, 60px);
}
.breadcrumb {
  width: var(--default-layout-min-width, 1360px);
  display: flex;
  align-items: center;
  border-radius: 0;
  padding: 0.25rem 1rem;
  margin-bottom: 0.5rem;
  background-color: #e9ecef;

  .home-icon {
    color: #444444;
    font-size: 1.2rem;
    margin-right: 6px;
}

.path{
  color: #444444; 
  font-size: 1.4rem;
  font-weight: 400;
  margin-top: 2px;
  &:first-child {
    margin-left: 4px;
  }
}


  @media (max-width: 768px) {
    padding: 0.2rem 0.8rem;
    font-size: 0.9rem;

    .home-icon {
      font-size: 1rem;
    }
  }
}