.inner{
    max-width: 1360px;
    margin: 0 auto;
  }

.category-breadcrumb {
    display: flex;
    align-items: center;
    border-radius: 0;
    margin-bottom: 0.5rem;
    color:  rgb(69, 74, 76);
  }
  
.category-item {
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    margin-right: 6px;

    &:first-child{
        font-weight: bold;
    }
              
    &:hover {
        color: #007bff;
    }
}
  
.category-link {
    color:  rgb(69, 74, 76);
    text-decoration: none;
    margin-right: 4px;
  }