.category-breadcrumb {
    display: flex;
    align-items: center;
    border-radius: 0;
    padding: 0.25rem 1rem;
    margin-bottom: 0.5rem;
  }
  
.category-item {
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    margin-right: 6px;

    &:first-child{
        font-weight: bold;
    }
              
    &:hover {
        color: #007bff;
      }
}
  
.category-link {
    color: #333;
    text-decoration: none;
    margin-right: 4px;
  }