.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: var(--default-layout-min-width, 1360px);
  margin-top: var(--default-layout-header-height, 77px);
}
  
.content {
    flex: 1;
    padding: 20px;
}
.container {
  flex: 1;
  padding-left: var(--default-layout-padding-left, 60px);
  padding-right: var(--default-layout-padding-right, 60px);
  width: 100%;
}


